
<div class="about">
  <div class="about-container">
    <div class="left about-collage">
      <div class="image-1">
        <img src="./images/derrick_1.jpg" alt="">
      </div>
      <div class="image-2 slide-in from-left">
        <img src="./images/derrick_2.jpg" alt="">
      </div>
      <div class="image-4 slide-in from-right">
        <img src="./images/derrick_4.jpg" alt="">
      </div>
      <div class="image-5 slide-in from-left">
        <img src="./images/derrick_5.jpg" alt="">
      </div>
      <div class="image-6 slide-in from-right">
        <img src="./images/derrick_6.jpg" alt="">
      </div>
    </div>
    <div class="right">
      <div>
        <div class="meet-vert">MEET</div>
        <div class="meet-name">Derrick<br>Jackson</div>
      </div>

      <div class="body-copy">
        <p>Derrick Jackson is a progressive leader in the criminal legal system, rooted in service to Washtenaw County. Having developed a passion for justice reforms while earning his Bachelors and Masters in Social Work, Derrick sought out to create positive changes in his community on behalf of his neighbors. With this understanding for diversity and passion for public service, Derrick worked directly with the Washtenaw County Clerk as our director of elections from 2004-2009.</p>
        <a class="icon-link" href="/about-page"><span>Read Derrick’s Story</span> <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>