<div class="donate-widget">
  <p>Our campaign will only be successful with your support.</p>

  <div class="donte-btn-set">
    <a class="donte-btn" target="_blank" href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?amount=25">$25</a>
    <a class="donte-btn" target="_blank" href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?amount=100">$100</a>
    <a class="donte-btn" target="_blank" href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?amount=250">$250</a>
    <a class="donte-btn" target="_blank" href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?amount=1000">$1000</a>
  </div>

  <p class="small">Donations by check can be mailed to Elect Derrick Jackson Sheriff, PO Box 972111, Ypsilanti, MI 48197. Political donations are not tax deductible.</p>
</div>