<footer class="footer-distributed">
<div class="footer-distributed--inner">
  <div class="footer-left">

      <img src="./images/logo.png" alt="Jackson For Sheriff Logo">

      <p class="footer-links">
          <a href="/" class="link-1">Home</a>
          
          <a href="/about-page">Meet Derrick</a>
       
          {{!-- <a href="/achievements">Achievements</a> --}}
      
          <a href="/endorsements">Endorsements</a>
          
          <a href="/take-action">Take Action</a>
          
          <a href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?fbclid=IwAR3PZYgsQOnm640njPJAIWLn-l4KUqSbXTQWSY5LVDWry9nF35ZulyPaTYk" target="_blank">Donate</a>
      </p>

      <p class="footer-company-name">Paid for by Elect Derrick Jackson Sheriff.<br>6649 Lakeway st, Ypsilanti, MI 48197</p>
  </div>

  <div class="footer-center">

      {{!-- <div>
          <i class="fa fa-map-marker"></i>
          <p><span>PO Box 972111</span> Ypsilanti, MI 48197</p>
      </div> --}}

      <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:info@jackson4sheriff.com">info@jackson4sheriff.com</a></p>
      </div>

  </div>

  <div class="footer-right">

      <p class="footer-company-about">
          <span>Jackson 4 Sheriff</span>
          Candidate for Washtenaw County Sheriff. Community-Oriented Police Officer. Social Worker. Husband. Father. Progressive leader and proven reformer.
      </p>

      <div class="footer-icons">

        <a href="https://www.facebook.com/profile.php?id=100086252263756" target="_blank"><i class="fa fa-facebook-square "></i></a>
        <a href="https://twitter.com/Derrick4Sheriff" target="_blank"><i class="fa fa-twitter-square "></i></a>
        <a href="https://www.youtube.com/channel/UC6jGzqaxLRoN34R89-3XtxA" target="_blank"><i class="fa fa-youtube-square"></i></a>
        <a href="https://www.instagram.com/jackson4sheriff/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>  

      </div>

  </div>
</div>
</footer>