<nav>
  <div class="menu">
    <ul>
      <li><a href="/about-page">Meet Derrick</a></li>
      {{!-- <li><a href="/">Priorities</a></li> --}}
      {{!-- <li><a href="/achievements">Achievements</a></li> --}}
            <li><a href="/endorsements">Endorsements</a></li>
      <li class="logo">
        <a href="/"><img src="./images/logo.png" alt="Jackson 4 Sheriff Logo"></a>
      </li>

      <li><a href="/take-action">Take Action</a></li>
    </ul>
  </div>

  <div class="donate">
    <a class="icon-button" target="_blank" href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?fbclid=IwAR3PZYgsQOnm640njPJAIWLn-l4KUqSbXTQWSY5LVDWry9nF35ZulyPaTYk">Donate</a>
  </div>
</nav>