<div class="mailing-list">
  <div class="mailing-list--content">
    <div class="mailing-list--content--copy">
      <h2>Join Our Movement!</h2>
      <p>Help fulfill our promise to make</p>
    </div>
    <form>
      <input type="email" placeholder="Email" />
      <input type="text" placeholder="Zip" />

      <input class="icon-button invert" type="submit" value="Sign Up!" />
    </form>
  </div>
</div>