<div class="masthead-container">
  <div class="masthead-child">
    <div class="text-block">

      <h2>{{pageName}}</h2>
      <span>{{copy}}</span>

    </div>

    {{!-- <img class="desktop-only" src="./images/{{desktop-img}}.jpg"> --}}
    <img class="desktop-only" src="https://via.placeholder.com/1280x300">
    


    <img class="mobile-only" src="./images/{{mobile-img}}.jpg">

  </div>
</div>
