<div class="mobile-drawer">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="logo">
      <a href="/"><img src="./images/logo.png" alt="Jackson 4 Sheriff Logo"></a>
    </div>

    <a href="/about-page">Meet Derrick</a>
    {{!-- <a href="#">Issues</a>--}}
    {{!-- <a href="/achievements">Achievements</a> --}}
    <a href="/endorsements">Endorsements</a>
    <a href="/take-action">Take Action</a>
    <a href="https://secure.actblue.com/donate/elect-derrick-jackson-sheriff-1?fbclid=IwAR3PZYgsQOnm640njPJAIWLn-l4KUqSbXTQWSY5LVDWry9nF35ZulyPaTYk" target="_blank">Donate</a>
  </div>
</div>