<div class="modal-wrap display-none">
  
  <div class="modal">
    <button class="cancel"><i class="fa fa-times" aria-hidden="true"></i></button>
    <div class="modal-content">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item video" src="{{video-src}}" allowscriptaccess="always" allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>