<div class="things-done">
  <div class="left-area">
    {{!-- ITEM START --}}
    <div class="item">
      <div class="copy-special">
        <h2>It's not, what would he do?<br>It's what he's already done!</h2>
        <p>As a leader in criminal justice reform, Derrick Jackson is the architect for the changes we’ve come to expect from the Washtenaw County Sheriff's Office.</p>
      </div>

    </div>
    {{!-- ITEM END --}}
  </div>

<div class="right-area">
      <div class="prev slick-arrows"><div class="a"><i class="fa-solid fa-caret-left"></i></div></div>
    <div class="next slick-arrows"><div class="a"><i class="fa-solid fa-caret-right"></i></div></div>

  <div class="slider">




    {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-dollar-sign"></i></span></div><span>Investment</span></div>
        <p><span class="highlight">$4.7 Million</span>When Derrick began In 2008, the WCSO barely invested in diversion, deflection, community engagement, reentry, or alternatives to incarceration. Thanks to Derrick and his team, the WCSO now invests more than $4.7 Million dollars each year.</p>
      </div>

      {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}

    </div>
    {{!-- ITEM END --}}

    {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-house"></i></span></div><span>Reentry</span></div>
        <p><span class="highlight">Reduced Recidivism</span>From 2008 to 2013 the recidivism rate was as high as 63% in the county jail. From 2020-2021 the rate was 46%. Derrick brought the TJC reentry model to the WCSO and with his team has built out a comprehensive and successful jail reentry program. </p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}


    {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-person-walking-arrow-loop-left"></i></span></div><span>Diversion</span></div>
        <p><span class="highlight">Alternatives To Arrest</span>When Derrick began in 2008, the WCSO did not have a single diversion or deflection program. Now, there are many! LEADD, WeLIVE, Outreach, SURE, Co-Response Unit, Assessment Center, 24-hr crisis line, and the Crisis Team are all tools law enforcement now have as an alternative to arrest. </p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}

     {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-ban"></i></span></div><span>Prevention</span></div>
        <p><span class="highlight">Retaliation Prevention</span>It's estimated 80 to 85% of the shootings in Washtenaw are retaliatory in nature. Derrick and his team created the WeLIVE violence interruption and retaliation prevention program. While investigators solve homicides at an astounding rate of 87%, trained credible messengers work to prevent retaliation from ever happening.</p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}   

     {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-gun"></i></span></div><span>Gun Violence</span></div>
        <p><span class="highlight">Violence Interruption</span>Since the summer of 2021, Derrick has led the Community Violence Intervention Team (CVIT) in the development of the 14-point plan to save lives by ending gun violence in Washtenaw County.</p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}   

     {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-person-military-pointing"></i></span></div><span>Policing</span></div>
        <p><span class="highlight">A New Way</span>Derrick implemented a Problem-Oriented Policing philosophy. Which revolutionized the way we hire, promote, train, and serve Washtenaw County. No longer only crime fighters, we are problem solvers. Not simply law enforcement, we are police service professionals. Words that mean something. Actions which prove it.</p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}   

     {{!-- ITEM START --}}
    <div class="item">
      <div class="copy">
        <div class="icon"><div class="icon-inner"><span class="a"><i class="fa-solid fa-hand-holding-hand"></i></span></div><span>Community Outreach</span></div>
        <p><span class="highlight">Innovation</span>Derrick created the only known peer-led street outreach team embedded within a law enforcement agency. Credible messengers not only train officers on the importance of community, but they work to reduce recidivism, mitigate community disputes, and build a bridges between police and the communities we serve.</p>
      </div>
            {{!-- <a href="achievements"><button class="button-outline">                    
        <span class="button-outline__label js-label">
          Learn More
        </span>
      </button>
      </a> --}}
    </div>
    {{!-- ITEM END --}}   

 </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('.slider').slick({
      dots: false,
      swipeToSlide: true,
      infinite: false,
      speed: 300,
      variableWidth: true,
      slidesToShow: 2,
      slidesToScroll: 1,
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
              centerMode: true

          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
</script>