<div class="tl-wrapper" style="height: 590px;">
  <ul class="timeline">
    <li class="tl-item tl-active" data-year="1981" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=" "></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1988" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=" "></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1989" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1990" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1991" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1992" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1993" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1994" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1995" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1996" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1997" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1998" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="1999" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2000" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2001" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2002" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2003" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2004" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2005" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2006" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2007" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
    <li class="tl-item" data-year="2008" style="max-height: 460px; height: 460px;">
      <div class="tl-image"><img src=""></div>
      <div class="tl-copy"><div class="tl-copy-inner">
        <h3 class="title">Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth…liens!</h3>
        <div class="tl-description">
          <p>Aw, you're all Mr. Grumpy Face today. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!</p>
        </div>
      </div></div>
    </li>
  </ul><div class="tl-nav-wrapper"><ul class="tl-nav" style="width: 1968px;"><li class="tl-active"><div>1981</div></li><li><div>1988</div></li><li><div>1989</div></li><li><div>1990</div></li><li><div>1991</div></li><li><div>1992</div></li><li><div>1993</div></li><li><div>1994</div></li><li><div>1995</div></li><li><div>1996</div></li><li><div>1997</div></li><li><div>1998</div></li><li><div>1999</div></li><li><div>2000</div></li><li><div>2001</div></li><li><div>2002</div></li><li><div>2003</div></li><li><div>2004</div></li><li><div>2005</div></li><li><div>2006</div></li><li><div>2007</div></li><li><div>2008</div></li></ul><a class="tl-nav-arrow-left"></a><a class="tl-nav-arrow-right"></a></div><a class="tl-items-arrow-left"></a><a class="tl-items-arrow-right"></a>
</div>


<script>
$(document).ready(function() {

    if(document.addEventListener){ // Only IE9+ support this ;)

    var isPrefixed = (function () {
        var styles = window.getComputedStyle(document.documentElement, ''),
        pre = (Array.prototype.slice
            .call(styles)
            .join('') 
            .match(/-(moz|webkit|ms)-/) || (styles.OLink === '' && ['', 'o'])
        )[1],
        dom = ('WebKit|Moz|MS|O').match(new RegExp('(' + pre + ')', 'i'))[1];
        return {
        dom: dom,
        lowercase: pre,
        css: '-' + pre + '-',
        js: pre[0].toUpperCase() + pre.substr(1)
        };
    })();

    // Deals with prefixes
    var prefix = isPrefixed.css;

    } else {
    var prefix = "";
    }

    /*** Slides ***/
    var currentSlide = 0,
        totalSlides  = $(".tl-item").length - 1;

    // Creates the navigation
    $(".timeline").after("<div class='tl-nav-wrapper'><ul class='tl-nav'></ul></div><a class='tl-items-arrow-left'></a><a class='tl-items-arrow-right'></a>");
    $( ".tl-copy" ).wrapInner( "<div class='tl-copy-inner'></div>");

    // Cicle through items and creates the nav
    $(".tl-item").each(function(i) {
    var year = $(".tl-item:eq(" + i + ")" ).data("year");
    $(".tl-nav").append("<li><div>" + year + "</div></li>");
    
    // Click handlers
    $(".tl-nav li:eq(" + i + ")").click(function() {
        if(!$(".tl-item:eq(" + i + ")" ).hasClass("tl-active")) {
        // Activates the item
        $(".tl-item").removeClass("tl-active");
        $(".tl-item:eq(" + i + ")" ).addClass("tl-active");
        currentSlide = i;

        // Activates the item nav
        $(".tl-nav li").removeClass("tl-active");
        $(".tl-nav li:eq(" + i + ")" ).addClass("tl-active");
        }
    });
    });

    // Activates the first slide
    $(".tl-item:first, .tl-nav li:first").addClass("tl-active");

    // Slide's arrows click handlers
    $(".tl-items-arrow-left").on("click", function(){
    if(currentSlide > 0) {
        currentSlide--;
    
        // Activates the previous item
        $(".tl-item").removeClass("tl-active");
        $(".tl-item:eq(" + currentSlide +")").addClass("tl-active");
        
        // Activates the previous item nav
        $(".tl-nav li").removeClass("tl-active");
        $(".tl-nav li:eq(" + currentSlide + ")" ).addClass("tl-active");
    }
    });

    $(".tl-items-arrow-right").on("click", function(){
    if(currentSlide < totalSlides) {
        currentSlide++;
    
        // Activates the next item
        $(".tl-item").removeClass("tl-active");
        $(".tl-item:eq(" + currentSlide +")").addClass("tl-active");
        
        // Activates the next item nav
        $(".tl-nav li").removeClass("tl-active");
        $(".tl-nav li:eq(" + currentSlide + ")" ).addClass("tl-active");
    }
    });
    
    /*** Nav ***/
    // The nav's width
    var navWidth = ($(".tl-nav li").outerWidth(true) * $(".tl-nav li").length) + 36;
    $(".tl-nav").width(navWidth);

    // The nav's arrows
    $(".tl-nav-wrapper").append("<a class='tl-nav-arrow-left'></a><a class='tl-nav-arrow-right'></a>");

    /*** The timeline's height ***/
    var vpHeight  = $(window).height();
    var tlHeight = vpHeight - $(".tl-nav-wrapper").outerHeight(true) - 26;
    $(".tl-wrapper").height(vpHeight);
    $(".tl-item").css("max-height", tlHeight);
    $(".tl-item").height(tlHeight);

    /*** Nav's navigation... ***/
    var navTranslation = 0;
    var navLimit = (navWidth - $(".tl-nav-wrapper").outerWidth(true) + 20) * -1;

    // To the left
    $(".tl-nav-arrow-left").on("click", function() {
    if(navTranslation < 0) {
        navTranslation = navTranslation + 86;
        $(".tl-nav").css(prefix + "transform", "translateX(" + navTranslation + "px)");
    }
    });

    // To the right
    $(".tl-nav-arrow-right").on("click", function() {
    if(navTranslation >= navLimit) {
        navTranslation = navTranslation - 86;
        $(".tl-nav").css(prefix + "transform", "translateX(" + navTranslation + "px)");
    }
    });
});
</script>