<!-- partial:index.partial.html -->
<div class="page">
  <div class="views">
    <div class="view view--1">
      <div class="view__inner">
        <div>
          <img src="./images/timeline/timeline-image-1.jpg">
          <h2 style="font-size: 100px">2000</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2001</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-3.jpg">
        <h2 style="font-size: 100px">2002</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-1.jpg">
        <h2 style="font-size: 100px">2003</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2004</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-3.jpg">
        <h2 style="font-size: 100px">2005</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-1.jpg">
        <h2 style="font-size: 100px">2006</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2007</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-3.jpg">
        <h2 style="font-size: 100px">2008</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-1.jpg">
        <h2 style="font-size: 100px">2009</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2010</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-3.jpg">
        <h2 style="font-size: 100px">2011</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-1.jpg">
        <h2 style="font-size: 100px">2012</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2013</h2>
        </div>
      </div>
    </div>
    <div class="view view--1">
      <div class="view__inner">
        <div>
         <img src="./images/timeline/timeline-image-2.jpg">
        <h2 style="font-size: 100px">2014</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline__wrapper">
    <div class="timeline">
      <ul class="timeline__list">
        <li class="timeline__item timeline__item--active"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
         
          <div class="timeline__item__year">2000</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2001</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2002</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2003</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2004</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2005</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2006</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2007</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2008</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2009</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2010</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2011</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2012</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2013</div>
        </li>
        <li class="timeline__item"><a class="timeline__link" href="#">
            <div class="timeline__item__point"></div></a>
          <div class="timeline__item__content"><img class="timeline__item__thumb" src="https://via.placeholder.com/150"/>
            <div class="timeline__item__shadow"></div>
          </div>
          <div class="timeline__item__year">2014</div>
        </li>
      </ul>
      <div class="timeline__path">
        <div class="timeline__path__triangle timeline__path__triangle--moving"></div>
        <div class="timeline__path__triangle timeline__path__triangle--static-1"></div>
        <div class="timeline__path__triangle timeline__path__triangle--static-2"></div>
        <div class="timeline__path__triangle timeline__path__triangle--static-3"></div>
      </div>
    </div>
  </div>
</div>
