<div class="why-running ">

  <div class="why-running--container">
    <div class="left slide-in from-left">
      <div class="left-container">
      <div  class="why-running--inner">
        <div class="why-running--inner--copy">
          <h2>Why I'm Running!</h2>
          <p>My name is Derrick Jackson and I’m running to be the next Sheriff of Washtenaw County. For the past 14 years, I’ve had the honor of serving as the Director of Community Engagement for the Washtenaw County Sheriff’s Office, where I’m responsible for engaging all facets of our community and working to build a more just, more diverse, and more trusted sheriff’s office. </p><br>
          <p>Some hate what we represent and vow to take us back. Others plan to divert us from the progress we’ve made. Neither is acceptable. I’m running because you, and the men & women of the Washtenaw County Sheriff’s Office deserve engaged leadership who will stand up for what is right and who will continue to push forward. </p><br>
          <p>Our campaign will be bold - we have new ideas to make our community more accepting, safer, and that bring us together, not perpetuate division. It will be big - we will work to engage with residents from Manchester to Ypsilanti, and everywhere in between. And it will certainly be better with your help. That is why I am asking you to join me, and help continue to build a sheriff’s office that works for all Washtenaw County residents by voting Derrick Jackson for Sheriff in the Democratic Primary in August, 2024.</p>
        </div>
        <div class="sig">
          <span class="sig">-Derrick Jackson</span>
        </div>
      </div>


     </div>
    </div>

    <div class="right">
      <img src="./images/join_movement_v3.jpg" alt="">
    </div>
  </div>
</div>
