<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Derrick Jackson 4 Sheriff</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
 
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'><link rel="stylesheet" href="./style.css">

  <script src="https://kit.fontawesome.com/3d0b5d6c08.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js'></script>


    <script>
      let areClipPathShapesSupported = function () {

  let base = 'clipPath',
  prefixes = ['webkit', 'moz', 'ms', 'o'],
  properties = [base],
  testElement = document.createElement('testelement'),
  attribute = 'polygon(50% 0%, 0% 100%, 100% 100%)';

  // Push the prefixed properties into the array of properties.
  for (let i = 0, l = prefixes.length; i < l; i++) {
    let prefixedProperty = prefixes[i] + base.charAt(0).toUpperCase() + base.slice(1); // remember to capitalize!
    properties.push(prefixedProperty);
  }

  // Interate over the properties and see if they pass two tests.
  for (let i = 0, l = properties.length; i < l; i++) {
    let property = properties[i];

    // First, they need to even support clip-path (IE <= 11 does not)...
    if (testElement.style[property] === '') {

      // Second, we need to see what happens when we try to create a CSS shape...
      testElement.style[property] = attribute;
      if (testElement.style[property] !== '') {
        return true;
      }
    }
  }

  return false;
};

$(() => {
  let defaultSlickSpeed = 300;

  $('.views').
  slick({
    speed: defaultSlickSpeed }).

  on('beforeChange', (evt, slick, currentSlide, nextSlide) => {
    let delta = Math.abs(currentSlide - nextSlide);
    if (delta === slick.slideCount - 1) {
      delta = 1;
    }
    $('.views').slick('slickSetOption', 'speed', delta * defaultSlickSpeed);
  }).
  on('afterChange', (evt, slick, currentSlide) => {
    $('.views').slick('slickSetOption', 'speed', defaultSlickSpeed);

    $('.timeline__list').find('.timeline__item--active').removeClass('timeline__item--active');
    $('.timeline__list').find(`.timeline__item:nth-child(${currentSlide + 1})`).addClass('timeline__item--active');
  });

  $('.timeline__link').on('click', evt => {
    evt.preventDefault();
    $('.timeline__item--active').removeClass('timeline__item--active');
    $(evt.currentTarget).parent().addClass('timeline__item--active');

    $('.views').slick('slickGoTo', $(evt.currentTarget).parent().prevAll('li').length);

  });

  let timelineOffset = $('.timeline').offset().left;
  let triangleWidth = $('.timeline__path__triangle--moving').outerWidth();

  $('.timeline').on('mousemove', evt => {
    let value = evt.pageX - timelineOffset - triangleWidth / 2;
    $('.timeline__path__triangle--moving').css({
      transform: `translateX(${value}px)` });

  });

  if (!areClipPathShapesSupported()) {
    $('body').addClass('no-clippath');
  } else {
    $('body').addClass('clippath');
  }

});
    </script>
</head>

<body>
  {{> modal }}
  {{> navigation }}

  {{> masthead }}

  {{> mailing_list}}

  <div class="">
      {{{body}}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>



</body>

</html>