<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPEG5L8Y8R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FPEG5L8Y8R');
    </script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PZ2495M');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Jackson 4 Sheriff">
    <meta property="og:description" content="Derrick Jackson is a progressive leader in the criminal legal system. As the Director of Community Engagement for the Washtenaw County Sheriff's Office, he has spent the last 14-years designing and implementing systems that transform traditional policing strategies. As a certified law enforcement officer with a background in social work, Derrick knows what it means to implement restorative and rehabilitative practices, while keeping our community safe.">
    <meta property="og:image" content="./images/social-logo.jpg">
    <meta property="og:url" content="http://jackson4sheriff.com">
   
    <title>Derrick Jackson 4 Sheriff</title>
   
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3d0b5d6c08.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
 
  </head>
  <body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZ2495M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!--==============================
      Header Area
      ==============================-->

    {{> header }}

    <!--==============================
      Moible Menu
      ==============================-->
    <div class="mobile-nav">
      <span onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
    </div>

    {{> mobile-drawer}}


    {{{body}}}

    <!--==============================
    Footer Area
    ==============================-->
    
    {{> footer }}


    <!-- Scroll Top Top Button -->
    {{!-- <a href="#" class="scrollToTop icon-btn bg-theme"><i class="fa fa-arrow-up"></i></a> --}}
    <!--==============================
      All Js File
      ============================== -->
    <script src="./js/main.js"></script>
  </body>
</html>