<div class="meet-derrick">
    <img class="mobile-only" src="./images/about-page-img-3.jpg">
    <div class="meet-derrick--container">
      
      <div class="left">
        <div class="left-container">
          <div  class="why-running--inner">
            
            <div class="why-running--inner--copy">
            <h2>Meet Derrick</h2>
            <p>Derrick Jackson is a progressive leader in the criminal legal system, rooted in service to Washtenaw County. Having developed a passion for justice reforms while earning his Bachelors and Masters in Social Work, Derrick sought out to create positive changes in his community on behalf of his neighbors. </p>
            <p>Just out of graduate school, Derrick began his professional career at Ozone House, where he worked with some of our community's most vulnerable young people. It was this experience which fueled his passion for public service. In 2004 Derrick went to work alongside Washtenaw County Clerk Lawrence Kestenbaum as his Chief Deputy. It is during this time when Derrick honed his public policy skills and learned first-hand how county government functions. </p>
            <p>In 2009, Derrick joined the Washtenaw County Sheriff’s Office, where he has spent the last 14-years designing and implementing systems that transform traditional policing strategies. In 2012 Derrick graduated with multiple distinctions from the police academy at Schoolcraft college. As a certified law enforcement officer with a background in social work, Derrick knows what it means to implement restorative and rehabilitative practices, while keeping our community safe.</p>
            <p>Derrick is rooted in Washtenaw County. Active in multiple organizations, he serves on the board of Washtenaw My Brother’s Keeper, the Ann Arbor YMCA, United Way of Washtenaw County, Washtenaw Technical Middle College, and Washtenaw Justice Project. Born to a mother from Chelsea and father from Inkster, Derrick has western Washtenaw and metro Detroit in his DNA. A proud father of two beautiful daughters with a third on the way, Derrick and his wife are raising their family in Ypsilanti Township. </p>
            <p>Connect directly with Derrick to learn more: <a href="mailto:DJacksonForSheriff@gmail.com">DJacksonForSheriff@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>





