<div class="endorsements page">
  <h2>Endorsements</h2>
  <p class="page-intro">We’re just getting started and there are many more supporters committed to seeing Derrick Jackson as our next Sheriff. Check back later to see more leaders supporting our campaign!</p>

  <div class="endorsements-special--lockup">
    <div class="endorsements-special--lockup-inner">
    <img src="./images/endorsements/top-0.jpg">
    <div class="copy">
      <h2>Jerry L. Clayton</h2>
      <p class="sub-header">Sheriff, Washtenaw County</p>

    </div>
    </div>
    <div class="prime-copy">
      <i class="fa-solid fa-quote-left"></i> You’ve trusted me enough to make me the longest serving Sheriff in the history of Washtenaw County. Now, I’m asking you to trust me when I tell you, Derrick Jackson is the best person to lead our community as the next Sheriff of Washtenaw County. <i class="fa-solid fa-quote-right"></i>
      <br><br>- Sheriff Jerry L. Clayon
    </div>
  </div>





  <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-1.jpg">
      <div class="copy">
        <h2>Sue Shink</h2>
        <p>State Senator</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-2.jpg">
      <div class="copy">
        <h2>Jason Morgan</h2>
        <p>State Representative</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-3.jpg">
      <div class="copy">
        <h2>Alma Wheeler-Smith</h2>
        <p>Former State Senator</p>
      </div>
    </div>
  </div>






 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-4.jpg">
      <div class="copy">
        <h2>Adam Zemke<h2>
        <p>Former State Representative</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-5.jpg">
      <div class="copy">
        <h2>David Rutledge</h2>
        <p>Former State Representative</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-6.jpg">
      <div class="copy">
        <h2>Lawrence Kestenbaum</h2>
        <p>Washtenaw County Clerk</p>
      </div>
    </div>
  </div>






 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-7.jpg">
      <div class="copy">
        <h2>Evan Pratt</h2>
        <p>Washtenaw County Water Resources Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-8.jpg">
      <div class="copy">
        <h2>Justin Hodge</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-9.jpg">
      <div class="copy">
        <h2>Caroline Sanders<h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>
  </div>




 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-10.jpg">
      <div class="copy">
        <h2>Shannon Beeman</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-11.jpg">
      <div class="copy">
        <h2>Andy LaBarre</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-12.jpg">
      <div class="copy">
        <h2>Christopher Taylor</h2>
        <p>Ann Arbor Mayor</p>
      </div>
    </div>
  </div>




 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-13.jpg">
      <div class="copy">
        <h2>Nicole Brown</h2>
        <p>Ypsilanti Mayor</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-14.jpg">
      <div class="copy">
        <h2>Brian Marl</h2>
        <p>Saline Mayor</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-30.jpg">
      <div class="copy">
        <h2>Lisa Disch</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>

  </div>



 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-15.jpg">
      <div class="copy">
        <h2>Chris Watson</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-16.jpg">
      <div class="copy">
        <h2>Travis Radina</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-31.jpg">
      <div class="copy">
        <h2>Ayesha Ghazi Edwin</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>
  </div>




 <div class="endorsements-lockup">

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-29.jpg">
      <div class="copy">
        <h2>Jen Eyer</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-32.jpg">
      <div class="copy">
        <h2>Dharma Akmon</h2>
        <p>Ann Arbor City Councilmember</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-17.jpg">
      <div class="copy">
        <h2>Rena Basch</h2>
        <p>Ann Arbor Township Clerk</p>
      </div>
    </div>

  </div>





<div class="endorsements-lockup">

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-18.jpg">
      <div class="copy">
        <h2>Lonnie Scott</h2>
        <p>Dexter Township Trustee</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-36.jpg">
      <div class="copy">
        <h2>Mandy Grewal</h2>
        <p>Pittsfield Township Supervisor</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-37.jpg">
      <div class="copy">
        <h2>Patricia Tupacz Scribner</h2>
        <p>Pittsfield Township Treasurer</p>
      </div>
    </div>


  </div>



  <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-19.jpg">
      <div class="copy">
        <h2>Linda Edwards-Brown</h2>
        <p>Pittsfield Township Trustee</p>
      </div>
    </div>
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-20.jpg">
      <div class="copy">
        <h2>John Reiser</h2>
        <p>Scio Township Trustee</p>
      </div>
    </div>
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-38.jpg">
      <div class="copy">
        <h2>Rhonda McGill</h2>
        <p>Superior Township Trustee</p>
      </div>
    </div>

  </div>


  <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-21.jpg">
      <div class="copy">
        <h2>Stacy Ebron</h2>
        <p>Pittsfield Township Park Commissioner</p>
      </div>
    </div>    
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-33.jpg">
      <div class="copy">
        <h2>Tajalli Hodge</h2>
        <p>Ypsilanti Township Park Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-26.jpg">
      <div class="copy">
        <h2>M. Jeanice Townsend</h2>
        <p>Ypsilanti Community School Board Trustee</p>
      </div>
    </div>

  </div>

  <div class="endorsements-lockup">

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-27.jpg">
      <div class="copy">
        <h2>Aidan Sova</h2>
        <p>Ann Arbor District Library Board Trustee</p>
      </div>
    </div>
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-34.jpg">
      <div class="copy">
        <h2>Janis Bobrin</h2>
        <p>Former Washtenaw County Water Resources Commissioner</p>
      </div>
    </div>
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-35.jpg">
      <div class="copy">
        <h2>Leah Gunn</h2>
        <p>Former Washtenaw County Commissioner</p>
      </div>
    </div>
  </div>


 <div class="endorsements-lockup">

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-23.jpg">
      <div class="copy">
        <h2>Leigh Greden</h2>
        <p>Former Ann Arbor Councilmember</p>
      </div>
    </div>


    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-24.jpg">
      <div class="copy">
        <h2>Bryan Johnson</h2>
        <p>Former Ann Arbor School Board Trustee</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-28.jpg">
      <div class="copy">
        <h2>Kerene Moore</h2>
        <p>Former Ann Arbor District Library Board Trustee</p>
      </div>
    </div>   

  </div>

</div>