<div class="endorsements page">
  <h2>Endorsements</h2>
  <p class="page-intro">We’re just getting started and there are many more supporters committed to seeing Derrick Jackson as our next Sheriff. For our initial launch we’re kicking things off by showing the strong support we have with those the Sheriff must work closest with, the County Elected Officials.</p>

  <div class="endorsements-special--lockup">
    <div class="endorsements-special--lockup-inner">
    <img src="./images/endorsements/top-0.jpg">
    <div class="copy">
      <h2>Jerry L. Clayton</h2>
      <p class="sub-header">Sheriff, Washtenaw County</p>

    </div>
    </div>
    <div class="prime-copy">
      <i class="fa-solid fa-quote-left"></i> You’ve trusted me enough to make me the longest serving Sheriff in the history of Washtenaw County. Now, I’m asking you to trust me when I tell you, Derrick Jackson is the best person to lead our community as the next Sheriff of Washtenaw County. <i class="fa-solid fa-quote-right"></i>
      <br><br>- Sheriff Jerry L. Clayon
    </div>
  </div>





  <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-1.jpg">
      <div class="copy">
        <h2>Larry Kestenbaum</h2>
        <p>Washtenaw County Clerk</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-2.jpg">
      <div class="copy">
        <h2>Evan Pratt</h2>
        <p>Washtenaw County Water Resources Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-3.jpg">
      <div class="copy">
        <h2>Justin Hodge</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

  </div>


 <div class="endorsements-lockup">
    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-4.jpg">
      <div class="copy">
        <h2>Andy LaBararre</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item">
      <img src="./images/endorsements/top-5.jpg">
      <div class="copy">
        <h2>Shannon Beeman</h2>
        <p>Washtenaw County Commissioner</p>
      </div>
    </div>

    <div class="endorsements-lockup--item hidden">
      <img src="./images/endorsements/top-5.jpg">
      <div class="copy">
        <h2></h2>
        <p></p>
      </div>
    </div>

  </div>

</div>