.mailing-list {
  position: relative;
  padding: 1rem;
  background-color: var(--yellow);
  width: 100%;
  color: var(--blue); }
  .mailing-list--content {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .mailing-list--content--copy {
      margin-right: 2rem; }
    .mailing-list--content h2 {
      font-size: 1.75vw;
      margin-right: 1rem;
      margin-bottom: 0;
      line-height: 1; }
    .mailing-list--content p {
      font-size: 1.025vw;
      margin-bottom: 0; }
    .mailing-list--content form {
      display: flex; }
      .mailing-list--content form input {
        margin-right: 1rem; }
    .mailing-list--content input[type="text"],
    .mailing-list--content input[type="date"],
    .mailing-list--content input[type="datetime"],
    .mailing-list--content input[type="email"],
    .mailing-list--content input[type="number"],
    .mailing-list--content input[type="search"],
    .mailing-list--content input[type="time"],
    .mailing-list--content input[type="url"],
    .mailing-list--content textarea,
    .mailing-list--content select {
      font-family: 'News Cycle', sans-serif;
      font-weight: 800;
      color: #ffffff;
      border-width: 2px 2px 2px 2px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      padding: 10px 15px 10px 15px;
      transition: .35s;
      background: transparent; }
    .mailing-list--content input[type="text"]:focus,
    .mailing-list--content input[type="date"]:focus,
    .mailing-list--content input[type="datetime"]:focus,
    .mailing-list--content input[type="email"]:focus,
    .mailing-list--content input[type="number"]:focus,
    .mailing-list--content input[type="search"]:focus,
    .mailing-list--content input[type="time"]:focus,
    .mailing-list--content input[type="url"]:focus,
    .mailing-list--content textarea:focus,
    .mailing-list--content select:focus {
      background: #d2d9dd; }
    .mailing-list--content input[type="submit"],
    .mailing-list--content input[type="button"] {
      font-family: 'Barlow Condensed', sans-serif; }
