.meet-derrick .collage img {
  box-shadow: 0 24px 48px -12px rgba(37, 14, 75, 0.44); }
  .meet-derrick .collage img:nth-child(1) {
    position: absolute;
    width: 20%; }
  .meet-derrick .collage img:nth-child(2) {
    position: absolute;
    width: 30%;
    z-index: 3; }
  .meet-derrick .collage img:nth-child(3) {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 300px;
    z-index: 5; }
  .meet-derrick .collage img:nth-child(4) {
    position: absolute;
    width: 20%;
    z-index: 2;
    left: 35%; }
